/* body {
  text-align: center;
  margin: 0;
  background: #acf8b0e0;

} */
body {
  display: flex;
  justify-content: center;
}

/* .wrapper{
  height: 100vh;
} */
 .wrapper h1{
  text-align: center;  
  font-size: 30px; 
} 

.poke-area{
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  border: 1px solid black;
 
}

img {
  height: 300px;
  width: 300px;
}


.single-poke {
  /* padding: 0;
  margin: 0;
  height: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;

  
} 
img:hover{
  opacity: .5;
  transition: .9s;
}



