/* body {
  text-align: center;
  margin: 0;
  background: #acf8b0e0;

} */


/* .wrapper{
  height: 100vh;
} */
 .wrapper h1{
  text-align: center;  
  font-size: 30px; 
} 

.poke-area{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}


.single-poke {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  height: 100%;
  
} 
img:hover{
  opacity: .5;
  transition: .9s;
}



